<img src="../../../assets/img/principais-sintomas-da-Covid-19.jpg" alt="" />
<div class="main">
  <div class="container">
    <h1>Como saber se é preciso fazer o teste para COVID-19?</h1>
    <div>
      <p>
        O início da manifestação do SARS-CoV-2 no Brasil, há pouco menos de um
        ano, trouxe uma enxurrada de informações acerca dos sintomas, métodos
        preventivos e tratamento da COVID-19, doença que se transformou em uma
        pandemia e, até janeiro de 2020, já havia vitimado quase 2 milhões de
        pessoas em todo o mundo. De lá pra cá, muita coisa mudou. No início da
        pandemia, por exemplo, a orientação das autoridades de saúde era
        procurar atendimento médico apenas em caso de sintomas graves. Hoje, já
        se sabe que é melhor buscar os serviços de saúde nos primeiros sinais da
        doença – para o diagnóstico correto e para evitar a evolução para um
        quadro mais grave. Mas a procura pelos testes só deve acontecer quando
        os sintomas aparecem? Se uma pessoa da família testou positivo, todas as
        outras também devem ser testadas, mesmo se estiverem sem sintomas? São
        algumas dúvidas que responderemos ao longo deste artigo.
      </p>
    </div>
    <h2>Os nove sintomas</h2>
    <div class="sintomas">
      <img
        src="../../../assets/img/principais-sintomas-da-Covid-2-19.jpg"
        alt=""
      />

      <p>
        A manifestação do SARS-CoV-2 varia bastante de um indivíduo para outro.
        Mas, de modo geral, há nove principais sintomas da COVID-19 já
        identificados:
      </p>
    </div>
    <ul>
      <li>Tosse seca e persistente;</li>
      <li>Febre acima de 38°C;</li>
      <li>Cansaço excessivo;</li>
      <li>Dor muscular generalizada;</li>
      <li>Dor de cabeça;</li>
      <li>Garganta inflamada;</li>
      <li>Coriza ou nariz entupido;</li>
      <li>Alterações do trânsito intestinal, principalmente diarreia;</li>
      <li>Perda de olfato e paladar</li>
    </ul>
    <p>
      O ideal, no entanto, é confirmar a presença ou não da SARS-CoV-2 por meio
      de exames, porque outras síndromes gripais podem apresentar sintomas
      parecidos com o da COVID-19.
    </p>
    <p>
      <strong>Se o resultado for negativo:</strong> pode ser que o material
      tenha sido coletado fora do período indicado para detecção do vírus. A
      recomendação é que o teste seja feito novamente em alguns dias. Até lá, o
      paciente deve se manter o mais isolado possível.
    </p>
    <p>
      <strong>Se for positivo:</strong> o paciente deve manter ao menos 10 dias
      de quarentena e só se considerar “curado” após 24 horas sem sintomas
      depois desse período de resguardo. Um novo exame também pode confirmar a
      presença ou não do vírus no organismo.
    </p>
  </div>
</div>
