<div class="main">
  <div class="container">
    <form [formGroup]="frm" #form="ngForm" (ngSubmit)="salvar()">
      <!--Febre-->
      <section class="form-group">
        <h3>Febre</h3>
        <div class="form-check">
          <input
            id="febre"
            class="form-check-input"
            type="radio"
            name="febre"
            value="5"
            formControlName="febre"
            (change)="onRadioChange($event)"
          />
          <label class="form-check-label" for="febre"
            >Febre aferida na triagem, acima de 38° C</label
          >
        </div>
        <div class="form-check">
          <input
            id="febre"
            class="form-check-input"
            type="radio"
            value="3"
            name="febre"
            formControlName="febre"
            (change)="onRadioChange($event)"
          />
          <label class="form-check-label" for="febre"
            >Febre somente relatada</label
          >
        </div>
        <div class="form-check">
          <input
            id="febre"
            class="form-check-input"
            type="radio"
            value="0"
            name="febre"
            formControlName="febre"
            (change)="onRadioChange($event)"
          />
          <label class="form-check-label" for="febre">Ausência de febre</label>
        </div>
        <div
          *ngIf="febre.invalid && (febre.dirty || febre.touched)"
          class="invalid-feedback"
        >
          <div class="atencao" *ngIf="febre.errors?.['required']">
            Selecione pelo menos uma opção.
          </div>
        </div>
      </section>

      <mat-divider></mat-divider>
      <!--Sintomas-->
      <section class="form-group resposta" formGroupName="sintomas">
        <h3>Sintomas</h3>
        <mat-checkbox id="sintomas0" formControlName="sintomas0"
          >Nenhum dos sintomas abaixo</mat-checkbox
        >
        <mat-checkbox id="sintomas1" formControlName="sintomas1"
          >Mialgia</mat-checkbox
        >
        <mat-checkbox id="sintomas2" formControlName="sintomas2"
          >Cefaleia</mat-checkbox
        >
        <mat-checkbox id="sintomas3" formControlName="sintomas3">
          Tosse</mat-checkbox
        >
        <mat-checkbox id="sintomas4" formControlName="sintomas4">
          Dor de garganta (excluindo infecção bacteriana)</mat-checkbox
        >
        <mat-checkbox id="sintomas5" formControlName="sintomas5"
          >Saturação menor que 94%</mat-checkbox
        >
        <mat-checkbox id="sintomas6" formControlName="sintomas6"
          >Diarréia</mat-checkbox
        >
        <mat-checkbox id="sintomas7" formControlName="sintomas7">
          Vômito</mat-checkbox
        >
        <mat-checkbox id="sintomas8" formControlName="sintomas8"
          >Perda de Olfato</mat-checkbox
        >
        <mat-checkbox id="sintomas9" formControlName="sintomas9"
          >Perda de Paladar</mat-checkbox
        >
        <mat-checkbox id="sintomas10" formControlName="sintomas10"
          >Lombalgia, associada a sintomas gripais</mat-checkbox
        >
        <mat-checkbox id="sintomas11" formControlName="sintomas11"
          >Dor em membros inferiores, associada a sintomas gripais</mat-checkbox
        >

        <div
          class="atencao"
          *ngIf="frm.controls['sintomas'].errors && frm.controls['sintomas'].errors?.['requireOneCheckboxToBeChecked'] &&
                  frm.controls['sintomas'].invalid &&
                  (frm.controls['sintomas'].dirty ||
                    frm.controls['sintomas'].touched)"
        >
          <small>Marque no mínimo 01 (uma) opção</small>
        </div>
      </section>
      <mat-divider></mat-divider>
      <!--Epidemiológica-->
      <section class="form-group">
        <h3>História Epidemiológica</h3>
        <p>Domiciliado com caso positivo - Atendimento e Isolamento</p>
        <div class="radio-group form-check">
          <input
            class="form-check-input"
            type="radio"
            value="5"
            name="epidemiologica"
            formControlName="epidemiologica"
            (change)="onRadioChange($event)"
          />
          <label for="">Contato com caso positivo</label>
        </div>
        <div class="radio-group form-check">
          <input
            class="form-check-input"
            type="radio"
            value="0"
            name="epidemiologica"
            formControlName="epidemiologica"
            (change)="onRadioChange($event)"
          />
          <label for="">Não tem história de contato</label>
        </div>
        <div
          *ngIf="
            epidemiologica.invalid &&
            (epidemiologica.dirty || epidemiologica.touched)
          "
          class="invalid-feedback"
        >
          <div class="atencao" *ngIf="epidemiologica.errors?.['required']">
            Selecione pelo menos uma opção.
          </div>
        </div>
      </section>
      <mat-divider></mat-divider>
      <!--Comorbidades-->
      <section class="form-group resposta" formGroupName="comorbidades">
        <h3>Comorbidades</h3>
        <mat-checkbox id="comorbidades0" formControlName="comorbidades0"
          >Nenhuma das comorbidades abaixo</mat-checkbox
        >
        <mat-checkbox id="comorbidades1" formControlName="comorbidades1"
          >Hipertensão descompensado</mat-checkbox
        >
        <mat-checkbox id="comorbidades2" formControlName="comorbidades2">
          Diabetes descompensado</mat-checkbox
        >
        <mat-checkbox id="comorbidades3" formControlName="comorbidades3">
          Insuficiência Cardíaca</mat-checkbox
        >
        <mat-checkbox id="comorbidades4" formControlName="comorbidades4">
          Obesidade (IMC > 30)</mat-checkbox
        >
        <mat-checkbox id="comorbidades5" formControlName="comorbidades5">
          Uso de Imunosupressor (incluindo corticoide crônico)</mat-checkbox
        >
        <mat-checkbox id="comorbidades6" formControlName="comorbidades6"
          >HIV com CD4 abaixo > 350</mat-checkbox
        >
        <mat-checkbox id="comorbidades7" formControlName="comorbidades7">
          Asplenia</mat-checkbox
        >
        <mat-checkbox id="comorbidades8" formControlName="comorbidades8">
          Transplantado</mat-checkbox
        >
        <mat-checkbox id="comorbidades9" formControlName="comorbidades9">
          Quimioterapia nos últimos 30 dias</mat-checkbox
        >
        <mat-checkbox id="comorbidades10" formControlName="comorbidades10">
          Outras doenças auto-imunes</mat-checkbox
        >
        <mat-checkbox id="comorbidades11" formControlName="comorbidades11"
          >Asma não controlada, com uso de medicação contínua</mat-checkbox
        >
        <mat-checkbox id="comorbidades12" formControlName="comorbidades12"
          >Doença renal crônica Grau III</mat-checkbox
        >
        <mat-checkbox id="comorbidades13" formControlName="comorbidades13"
          >Outras pneumopatias graves</mat-checkbox
        >

        <div
          class="atencao"
          *ngIf="frm.controls['comorbidades'].errors && frm.controls['comorbidades'].errors?.['requireOneCheckboxToBeChecked'] &&
                  frm.controls['comorbidades'].invalid &&
                  (frm.controls['comorbidades'].dirty ||
                    frm.controls['comorbidades'].touched)"
        >
          <small>Marque no mínimo 01 (uma) opção</small>
        </div>
      </section>
      <mat-divider></mat-divider>
      <!--Botões Form-->
      <div class="btn-frm">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!frm.valid || disabled"
          (click)="validate()"
        >
          <mat-spinner
            color="primary"
            [diameter]="36"
            *ngIf="disabled"
          ></mat-spinner>
          <span *ngIf="!disabled">Enviar</span>
        </button>
        <button
          mat-raised-button
          color="accent"
          [disabled]="!disabledBtnDiagnostico"
          (click)="diagnosticoForm()"
        >
          Diagnóstico
        </button>
      </div>
    </form>
  </div>
</div>
