<section class="dashboard">
  <div class="container">
    <div class="contagem-diagnostico">
      <strong>Diagnósticos emitidos</strong> <span>{{ contagem }}</span>
    </div>
    <!--Febre-->

    <div class="contagem-diagnostico-outros">
      <strong>Febre</strong>
      <mat-divider></mat-divider>
      <div>
        <p>Febre aferida na triagem, acima de 38° C</p>
        <span>{{ febre1 }}</span>
      </div>

      <div>
        <p>Febre somente relatada</p>
        <span>{{ febre2 }}</span>
      </div>
      <div>
        <p>Ausência de febre</p>
        <span>{{ febre3 }}</span>
      </div>
    </div>

    <!--Sintomas-->
    <div class="contagem-diagnostico-outros">
      <strong>Sintomas</strong>
      <mat-divider></mat-divider>
      <div>
        <p>teste</p>
        <span>{{ sintomas1 }}</span>
      </div>

      <div>
        <p>Mialgia</p>
        <span>{{ sintomas2 }}</span>
      </div>
      <div>
        <p>Cefaleia</p>
        <span>{{ sintomas3 }}</span>
      </div>
      <div>
        <p>Tosse</p>
        <span>{{ sintomas4 }}</span>
      </div>
      <div>
        <p>Dor de garganta (excluindo infecção bacteriana)</p>
        <span>{{ sintomas5 }}</span>
      </div>
      <div>
        <p>Saturação menor que 94%</p>
        <span>{{ sintomas6 }}</span>
      </div>
      <div>
        <p>Diarréia</p>
        <span>{{ sintomas7 }}</span>
      </div>

      <div>
        <p>Vômito</p>
        <span>{{ sintomas8 }}</span>
      </div>

      <div>
        <p>Perda de Olfato</p>
        <span>{{ sintomas9 }}</span>
      </div>

      <div>
        <p>Perda de Paladar</p>
        <span>{{ sintomas10 }}</span>
      </div>

      <div>
        <p>Dor em membros inferiores, associada a sintomas gripais</p>
        <span>{{ sintomas11 }}</span>
      </div>
      <div>
        <p>Vômito</p>
        <span>{{ sintomas12 }}</span>
      </div>
    </div>

    <!--Epidemiologica-->
    <div class="contagem-diagnostico-outros">
      <strong>História Epidemiológica</strong>
      <mat-divider></mat-divider>
      <div>
        <p>Contato com caso positivo</p>
        <span>{{ epidemiologica1 }}</span>
      </div>

      <div>
        <p>Não tem história de contato</p>
        <span>{{ epidemiologica2 }}</span>
      </div>
    </div>

    <!--Epidemiologica-->
    <div class="contagem-diagnostico-outros">
      <strong>Comorbidades</strong>
      <mat-divider></mat-divider>
      <div>
        <p>Nenhuma das comorbidades abaixo</p>
        <span>{{ comorbidades1 }}</span>
      </div>

      <div>
        <p>Hipertensão descompensado</p>
        <span>{{ comorbidades2 }}</span>
      </div>
      <div>
        <p>Diabetes descompensado</p>
        <span>{{ comorbidades3 }}</span>
      </div>
      <div>
        <p>Insuficiência Cardíaca</p>
        <span>{{ comorbidades4 }}</span>
      </div>
      <div>
        <p>Obesidade (IMC > 30)</p>
        <span>{{ comorbidades5 }}</span>
      </div>
      <div>
        <p>Uso de Imunosupressor (incluindo corticoide crônico)</p>
        <span>{{ comorbidades6 }}</span>
      </div>
      <div>
        <p>HIV com CD4 abaixo > 350</p>
        <span>{{ comorbidades7 }}</span>
      </div>
      <div>
        <p>Asplenia</p>
        <span>{{ comorbidades8 }}</span>
      </div>
      <div>
        <p>Transplantado</p>
        <span>{{ comorbidades9 }}</span>
      </div>
      <div>
        <p>Quimioterapia nos últimos 30 dias</p>
        <span>{{ comorbidades10 }}</span>
      </div>
      <div>
        <p>Outras doenças auto-imunes</p>
        <span>{{ comorbidades11 }}</span>
      </div>
      <div>
        <p>Asma não controlada, com uso de medicação contínua</p>
        <span>{{ comorbidades12 }}</span>
      </div>
      <div>
        <p>Doença renal crônica Grau III</p>
        <span>{{ comorbidades13 }}</span>
      </div>
      <div>
        <p>Outras pneumopatias graves</p>
        <span>{{ comorbidades14 }}</span>
      </div>
    </div>
  </div>
</section>
