*,
p {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
strong {
  color: #2b054e;
}

.dashboard {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.contagem-diagnostico {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contagem-diagnostico-bar {
  margin: 20px 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contagem-diagnostico span,
.contagem-diagnostico-pie span {
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background-color: #a603bd;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contagem-diagnostico-pie {
  display: flex;
  justify-content: space-around;
  margin: 20px 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contagem-diagnostico-pie div {
  margin: 5px 0;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.contagem-diagnostico-pie strong {
  padding: 10px 0;
}

#myChart {
  flex-direction: column;
  align-items: center;
}

.carregar {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2a1ff;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media (max-width: 700px) {
  .contagem-diagnostico-pie {
    flex-direction: column;
    align-items: center;
  }
  #myChart {
    max-width: 80%;
  }
}
