*,
p {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
strong {
  color: #2b054e;
}

.dashboard {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.contagem-diagnostico {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contagem-diagnostico-bar {
  margin: 20px 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contagem-diagnostico span,
.contagem-diagnostico-pie span {
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background-color: #a603bd;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contagem-diagnostico-pie {
  display: flex;
  justify-content: space-around;
  margin: 20px 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contagem-diagnostico-pie div {
  margin: 5px 0;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.contagem-diagnostico-pie strong {
  padding: 10px 0;
}

#myChart {
  flex-direction: column;
  align-items: center;
}

@media (max-width: 700px) {
  .contagem-diagnostico-pie {
    flex-direction: column;
    align-items: center;
  }
  #myChart {
    max-width: 80%;
  }
}
